header {
    margin: 0;
    padding: 0;
}

.fixed-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    justify-content: center;
}

.static-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    justify-content: center;
}

nav ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    padding: 15px 45px;
}

/* --> */

.navbar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {padding: 20px 25px 20px 25px;}
